{% extends 'base.html' %}

{% block title %}文件md5上传{% endblock %}

{% block head %}
{% endblock head %}

{% block bodyClass %}"childrenBody"{% endblock bodyClass %}

{% block body %}
    <button id="testDlg" class="layui-btn" style="height: 37px;margin-top: 5px;margin-left: 5px;">文件上传</button>
{% endblock body %}

{% block footer %}
    <script>
        layui.extend({
            layMd5Upload: '{/}' + ctxStatic + 'layui/lay/custom/layMd5Upload'
        });

        layui.use(['layer', 'layMd5Upload'], function() {
            var $ = layui.jquery,
                md5Upload = layui.layMd5Upload,
                layer = parent.layer === undefined ? layui.layer : top.layer;

            $('#testDlg').click(function () {
                md5Upload.render({
                    url: ctx + 'sys/file',
                    md5Url: ctx + 'sys/file/md5',
                    size: 4*1024,
                    acceptMime: 'image/jpeg, image/png',
                    exts: 'jpg|png',
                    number: 0,
                    openEnd : function () {
                        console.log('销毁');
                    }
                })
            });
        });
    </script>
{% endblock footer %}


