{% extends 'base.html' %}

{% block title %}图像管理{% endblock %}

{% block head %}
{% endblock head %}

{% block bodyClass %}"childrenBody"{% endblock bodyClass %}

{% block body %}
	<form class="layui-form">
		<blockquote class="layui-elem-quote quoteBox">
			<div class="demoTable">
				<div class="layui-input-inline">
					<select id="appSysId" name="appSysId" lay-verify="" lay-search>
						<option value="">请选择系统类型</option>
                        {% for app_sys_type in app_sys_types %}
                            <option value="{{ app_sys_type.id }}">{{ app_sys_type.value }}</option>
                        {% endfor %}
					</select>
				</div>
				<button class="layui-btn" lay-submit lay-filter="search"><i class="layui-icon layui-icon-search"></i></button>
			</div>
		</blockquote>
	</form>

	<table id="imgDataList" lay-filter="imgDataList" class="layui-hide"></table>

    <!-- 处理进度 -->
    <script type="text/html" id="imgData-isHandle">
        {% raw %}
            {{#  if(d.isHandle){ }}
                <span style="color: #00DB00;">已处理</span>
            {{#  } else { }}
                <span style="color: #9D9D9D;">待处理</span>
            {{#  }}}
        {% endraw  %}
    </script>

    <!-- 推送进度 -->
    <script type="text/html" id="imgData-isPush">
        {% raw %}
            {{#  if(d.pushUrl == undefined || d.pushUrl == ''){ }}
                <span style="color: #9D9D9D;">未配置推送</span>
            {{#  } else if(d.isPush){ }}
                <span style="color: #00DB00;">已成功推送</span>
            {{#  } else { }}
                <span style="color: #0072E3;">已推送{{ d.pushTimes }}次</span>
            {{#  }}}
        {% endraw  %}
    </script>

	<script type="text/html" id="imgDataListBar">
        <a title="图片查看" class="layui-btn layui-btn-xs" lay-event="browse" href="javascript:;">
            <i class="layui-icon layui-icon-search"></i>
        </a>
	</script>

{% endblock body %}

{% block footer %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/ai/img/imgDataManage.js') }}"></script>
{% endblock footer %}