{% extends 'base.html' %}

{% block title %}文件浏览{% endblock %}

{% block head %}
    <meta name="img_data_id" content="{{ img_data_id }}">
{% endblock head %}

{% block bodyClass %}"childrenBody"{% endblock bodyClass %}

{% block body %}
    <form class="layui-form">
        <ul class="layer-photos-demo" id="files">
        </ul>
    </form>
{% endblock body %}

{% block footer %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/EZView/EZView.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ai/img/imgSourceFilesManage.js') }}"></script>
{% endblock footer %}